<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Categories</strong>
      </c-card-header>
      <c-card-body>
        <button
          cButton
          color="info"
          class="fw-bold text-white"
          [routerLink]="['/events/categories/add']"
        >
          ADD CATEGORY
        </button>
        <table cTable striped>
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Category</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (category of categories; track category.id; let i = $index){
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ category.name }}</td>
              <td class="text-center">
                <button
                  cButton
                  color="warning"
                  [routerLink]="['/events/categories/edit', category.id]"
                  class="btn-sm"
                >
                  Edit
                </button>
                <button
                  cButton
                  color="danger"
                  (click)="deleteCategory(category.id)"
                  class="btn-sm"
                >
                  Delete
                </button>
              </td>
            </tr>
            }
            <tr *ngIf="categories.length == 0">
              <td colspan="3" class="text-center">Kosong</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
