<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Users</strong>
      </c-card-header>
      <c-card-body>
        <button cButton color="info" [routerLink]="['/users/add']">
          Add User
        </button>
        <form
          class="my-3 row"
          #f="ngForm"
          (ngSubmit)="onSubmit()"
          enctype="multipart/form-data"
        >
          <c-col md="4">
            <input
              cFormControl
              required
              type="file"
              (change)="onFileSelected($event)"
            />
          </c-col>
          <c-col md="6">
            <button cButton class="me-1" color="primary" type="submit">
              Import
            </button>
          </c-col>
        </form>
        <table cTable striped>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Fullname</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            @for(user of users; track user.id; let i = $index){
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.fullname }}</td>
              <td>
                @for(role of roles; track role.id){
                <ng-container *ngIf="user.roleId == role.id">
                  {{ role.name }}
                </ng-container>
                }
              </td>
              <td>
                <button
                  cButton
                  [routerLink]="['/users/edit', user.id]"
                  color="warning"
                >
                  Edit
                </button>
                <button cButton (click)="deleteUser(user.id)" color="danger">
                  Delete
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
