<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Events</strong>
      </c-card-header>
      <c-card-body>
        <button
          class="mb-2 text-white fw-bold"
          cButton
          color="info"
          [routerLink]="['/events/events/add']"
        >
          ADD EVENT
        </button>
        <c-card class="p-2">
          <table cTable>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Location</th>
                <th scope="col">Max Attendees</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              @for(event of events; track event.id; let i = $index) {
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ event.title }}</td>
                <td>
                  @for(category of categories; track category.id) {
                  <ng-container *ngIf="category.id == event.categoryId">
                    {{ category.name }}
                  </ng-container>
                  }
                </td>
                <td>{{ event.startTime }}</td>
                <td>{{ event.endTime }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.maxAttendees }}</td>
                <td>{{ event.status }}</td>
                <td class="text-center">
                  <button cButton color="success" class="btn-sm">View</button>
                  <button
                    cButton
                    class="btn-sm"
                    [routerLink]="['/events/events/edit', event.id]"
                    color="warning"
                  >
                    Edit
                  </button>
                  <button
                    cButton
                    class="btn-sm"
                    (click)="deleteEvent(event.id)"
                    color="danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              }
              <tr *ngIf="events.length == 0">
                <td colspan="9" class="text-center">Kosong</td>
              </tr>
            </tbody>
          </table>
        </c-card>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
