<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
      <strong> {{ formType }} User</strong>
    </c-card-header>
    <c-card-body>
      <form
        cForm
        class="row gx-3 gy-2 align-items-center"
        [formGroup]="form"
        #f="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <c-col sm="6">
          <label cLabel for="specificSizeSelect"> Fullname </label>
          <input
            cFormControl
            id="specificSizeInputName"
            placeholder="Jane Doe"
            type="text"
            name="fullname"
            formControlName="fullname"
          />
        </c-col>
        <c-col sm="6">
          <label cLabel for="specificSizeSelect"> Username </label>
          <c-input-group>
            <span cInputGroupText>&#64;</span>
            <input
              cFormControl
              id="specificSizeInputGroupUsername"
              placeholder="Username"
              type="text"
              name="username"
              formControlName="username"
            />
          </c-input-group>
        </c-col>
        <c-col sm="6">
          <label cLabel for="specificSizeSelect"> Password </label>

          <input
            type="password"
            cFormControl
            id="specificSizeInputName"
            name="password"
            placeholder="Password"
          />
        </c-col>
        <c-col sm="6">
          <label cLabel for="specificSizeSelect"> Role </label>
          <select
            cSelect
            id="specificSizeSelect"
            formControlName="roleId"
            name="roleId"
          >
            <option value="" disabled selected hidden>Choose Role</option>
            <option *ngFor="let role of roles" [value]="role.id">
              {{ role.name }}
            </option>
          </select>
        </c-col>
        <c-col xs="auto">
          <button cButton type="submit">Submit</button>
        </c-col>
      </form>
    </c-card-body>
  </c-card>
</c-col>
